body {
    background-image: url(fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgb(31, 31, 31), rgb(31, 31, 31));

}

.container-fluid {
    padding: 20px;
}

.container-fluid a {
    padding: 10px;
}

.col-md-3 {
    text-align: center;



}

.col-md-3 {
    border-radius: 20px;

    margin: 0;
    padding: 0;


}

#barras {
    color: white;
}

.card-body p {
    text-align: center;

}

.card-body li {
    font-size: 1.2em;
}


.logo {
    width: 40px;
}

.container p {

    font-size: 1.5em;
}

#cardd {
    background-color: rgb(20, 20, 20);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.6),
        inset 0 -4px 6px rgba(0, 0, 0, 0.6);

    color: white;
    width: 100%;



}

.card-text {
    display: flex;
    justify-content: center;
}



.icons {
    display: flex;
    justify-content: space-evenly;

    gap: 20px
}

#aca {
    height: 100px;
}

.icons img {
    width: 8%;
}

.col-md-3 {
    margin: 20px;
}

.row {
    align-items: center;
    justify-content: center;
}

.nav-a a:hover {
    border-bottom: 4px solid rgb(255, 253, 155);
}

.nav-a a {

    text-align: center;
    padding: 10px;
}

#prin {

    color: white;
}




#experiencia,
#habilidades,
#proyecto {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



#separador1 {

    background-color: rgb(20, 20, 20);
    /* Negro oscuro */
    height: 10vh;
    border-radius: 5px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.6),
        inset 0 -4px 6px rgba(255, 255, 255, 0.1);
}

#titulos {
    padding: 20px;
    font-size: 4em;
    color: rgb(255, 253, 155);
}

.card-title {
    padding: 10px;
    border-bottom: 4px solid rgb(255, 253, 155);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;


}

#descarga {
    background-color: rgb(255, 253, 155);
    color: black;
    padding: 15px;
    font-weight: 500;
    border: 4px solid #333;

}

#descarga:hover {
    background-color: #333;
    color: rgb(255, 253, 155);

}

nav {
    border-bottom: 4px solid rgb(255, 253, 155);
}

.rounded-circle {
    width: 15em;
    height: 13em;
}